* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #ede6df;
    color: #091d26;
}

.header {
    background: #fafafa ;
    padding: 30px 90px;
}

.logo {
    display: inline-block;
    width: 50%;
}

.navbar{
    text-align: right;
}

.navbar-wrapper {
    width: 49.66%;
    display: inline-block;
}

.navbar ul {
    margin-bottom: 5px;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
}

.navbar ul li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-left: 30px;
}

/* Hero Section For The HomePage */

.hero-text {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: left;
    padding-left: 90px;
}

.hero-text h2 {
    font-size: 64px;
    margin-top: 140px;
    
}

.hero-text p {
    font-size: 18px;
    margin-top: 12px;
    
}

.hero-img {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.hero-img img {
    width: 100%;
    height: auto;
}

/* Styles for the chicken biryani page */

.img-section {
    display: inline-block;
    vertical-align: top;
}

.desc-section {
    display: inline-block;
    width: 29%;
    height: 79.5vh;;
    background-color: #d6c4b0;
    padding: 10px 20px;
    margin-left: -4px;
}

.desc-section h2,
.desc-section p {
    margin: 10px 0;
    
}

.desc-section h2 {
    font-size: 26px;
}

.desc-section p {
    text-align: justify;
}

.ingredients {
    display: inline-block;
    box-sizing: content-box;
    width: 20%;
    margin-left: 90px;
    margin-top: 32px;
    border-right: 2px groove #d6c4b0;
    padding-right: 20px;
    vertical-align: top;
}

.ingredients h2,
.steps-container h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.ingredients ul,
.steps-container ol {
    margin-left: 30px;
}

.ingredients li,
.steps-container li {
    line-height: 24px;
}

.ingred-h2 {
    margin-top: 16px;
}

.steps-container {
    display: inline-block;
    width: 44%;
    margin-top: 32px;
    margin-left: 50px;
}

